humanize_duration.fish
upto.fish
fisher.fish
rvm.fish

XcodeTemplate/Clean\ Swift/Scene.xctemplate/UIViewController/
XcodeTemplate/Clean\ Swift/Scene.xctemplate/UITableViewController/
XcodeTemplate/Clean\ Swift/Scene.xctemplate/UICollectionViewController/
